attrs==19.3.0
backports-abc==0.5
backports.functools-lru-cache==1.6.1
backports.shutil-get-terminal-size==1.0.0
backports.shutil-which==3.5.2
bleach==3.1.5
Brotli==1.0.7
click==7.1.2
colorama==0.4.3
colorlover==0.3.0
configparser==4.0.2
contextlib2==0.6.0.post1
cufflinks==0.17.3
cycler==0.10.0
dash==1.11.0
dash-core-components==1.9.1
dash-html-components==1.0.3
dash-renderer==1.4.0
dash-table==4.6.2
decorator==4.4.2
defusedxml==0.6.0
descartes==1.1.0
entrypoints==0.3
enum34==1.1.10
Flask==1.1.2
Flask-Compress==1.5.0
gunicorn==19.10.0
importlib-metadata==1.6.0
ipaddress==1.0.23
ipykernel==4.10.1
ipython==5.10.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
Jinja2==2.11.2
jsonschema==3.2.0
jupyter-client==5.3.4
jupyter-core==4.6.3
kiwisolver==1.1.0
lightgbm==2.3.1
MarkupSafe==1.1.1
matplotlib==2.2.5
mistune==0.8.4
mrjob==0.7.2
nbconvert==5.6.1
nbformat==4.4.0
notebook==5.7.8
numpy==1.16.6
packaging==20.3
pandas==0.24.2
pandocfilters==1.4.2
pathlib2==2.3.5
pickleshare==0.7.5
Pillow==6.2.2
plotly==4.6.0
prometheus-client==0.7.1
prompt-toolkit==1.0.18
Pygments==2.7.4
pyparsing==2.4.7
pyrsistent==0.16.0
python-dateutil==2.8.1
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==19.0.0
retrying==1.3.3
scandir==1.10.0
scikit-learn==0.20.4
scipy==1.2.3
Send2Trash==1.5.0
Shapely==1.7.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.14.0
terminado==0.8.3
testpath==0.4.4
tornado==5.1.1
traitlets==4.3.3
wcwidth==0.1.9
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
win-unicode-console==0.5
zipp==1.2.0
